<% if params[:controller]=='about' %>
    <div class="well">
    <h3>Location Info</h3>
        <ul>
            <li>The Bookstore</li>
            <li>499 Massachusetts Ave, Unit 2  </li>
            <li>Buston, MA 02110</li>
            <li>Phone: (617) 555-5555</li>
            <li>Email: support@thebookstore.com</li>
        </ul>
    </div>
<% end %>



<% if 'books' == params[:controller] && 'index' == params[:action] || 'show' == params[:action] %>
<div class="list-group">
<% @categories.each do |category|%>
  <a href="<%= category_path(category.id)%>" class="list-group-item list-group-item-action"><%=category.name%></a>
  <%end%>
</div>
<% end %>